.Chat-main

  .Chat-main__group-info
    .group-info
      .group-info__name
        %a test
      .group-info__member
        %a Member Naoki
    .group-button
      %a= link_to "Edit", "#", class: 'edit-button'
         

  .Chat-main__message-list
    .message-list
      .message-info
        %a.message-info__name Naoki
        %a.message-info__date 2020/04/01(Wed) 07:00:00
      .message
        %a.message__content おはよう
    .message-list
      .message-info
        %a.message-info__name Kirito
        %a.message-info__date 2020/04/01(Wed) 20:00:00
      .message
        %a.message__content こんばんは

  .Chat-main__message-form
    %form
      .message-form
        %input.message-form__message{placeholder: "type a message"}
          .message-form__icon
            %label.message-form__icon__content
              = icon('fa','image',class: 'icon')
              %input.hidden{type: 'file'}
          %input.message-form__submit{type: 'submit', value: 'Send'}