.Side-bar
  .Side-bar__user-name
    .top-items
      .top-items__name 
        %a Naoki
      .top-items__icons
        = icon('fa', 'edit',class: 'icon')
        %span<>
        = icon('fa', 'cog',class: 'icon')
        %span<>
  .Side-bar__group-list
    .group
      .group__name
        %a TechCamp
      .group__message
        %a まだメッセージがありません