$blue-dark: #253141;
$blue-lite: #2f3e51;
$white: #ffffff;
$grey-lite: #fafafa;
$grey-dark: #d2d2d2;
$line_white-dark: #eeeeee;
$text-grey-1: #434A54;
$text-grey-2: #333333;
$text-grey-3: #999999;
$button-blue: #38aef0 ;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;