.comment-list{data: {comment: {id: comment.id}}}
  .comment-info
    %a.comment-info__name
      = comment.user.username
    %a.comment-info__date
      = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .comment
    - if comment.comment.present?
      %p.comment__info
        = comment.comment
    = image_tag comment.image.url, class: 'lower-comment__image' if comment.image.present?