.Side-bar {
  width: 300px;
  color: $white;
  font-weight: bold;
    &__user-name{
      padding: 0px 20px;
      background-color: $blue-dark;
      height: 100px;
      display: flex;
      align-items: center;

        .top-items{
          width: 260px;
            &__name{
              float: left;
              height: 20px;
              line-height: 20px;
              font-size: 16px;
            }
            &__icons{
              float: right;
              height: 20px;
              width: 60px;
              line-height: 20px;
              text-align: right;
                .icon{
                  font-size: 16px;
                  color: $white;
                  margin-left: 5px;
                }
            }
      }
    }
    &__group-list{
      padding: 0px 20px;
      background-color: $blue-lite;
      height: calc(100vh - 100px);
      width: 260px;
   
        .group{
          padding: 20px 0px 40px 0px;
          color: $white;
            &__name{
              font-size: 15px;
              margin-bottom: 5px;
            }
            &__comment{
              font-size: 11px;
            }
            a:link { color:$white; text-decoration:none }
            a:visited { color:$white; text-decoration:none }
            a:hover { color:$white; text-decoration:none }
            a:active { color:$white; text-decoration:none }
        }
    }
}

